<!DOCTYPE html>

<html>
	<head>
		<style> 
		footer {
		    float: right;
		    height: 35px;
		    margin: 0px 50px 0px 0px;
		    background: #9FF;
		    color: #000;
		    text-align: right;
		    padding: 10px 30px;
		    width: 180px;
		}
		</style>			
		<title>Multitude Funding</title>
	</head>
	<body>
		<h1>Multitude Funding</h1>
		<ul>
			<li><%= link_to 'New User', new_user_path %></li>
			<li><%= link_to 'Users', users_path %></li>
		</ul>
		<footer><p>Sebastian Baixas<br/>
		   Ignacio Carril</p></footer>
	</body>
</html>
