<p>
  <strong>Approved by:</strong>

</p>

<p>
  <strong>Money goal:</strong>
  1231312
</p>

<p>
  <strong>Finish date:</strong>
  2020-05-26 01:21:00 UTC
</p>

<p>
  <strong>Description:</strong>
  asdasdasdasdasdasd
</p>

<p>
  <strong>Approved:</strong>
  false
</p>

<p>
  <strong>Rating:</strong>

</p>

<p>
  <strong>Founded:</strong>
  false
</p>

<p>
  <strong>Foundation date:</strong>

</p>

<p>
  <strong>Approval date:</strong>
</p>
<% if current_user = @user %>
<%= link_to edit_user_registration_path do %>