<!DOCTYPE html>
<html>
  <head>
    <title>MultitudeFunding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" class="bootstrap" type="text/css" href="./app/assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" class="bootstrap-grid" type="text/css" href="./app/assets/stylesheets/bootstrap-grid.css"/>
    <link rel="stylesheet" class="bootstrap-reboot" type="text/css" href="./app/assets/stylesheets/bootstrap-reboot.css"/>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
